<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!-- Common top-level menu for all Alba modules -->
        <add id="Albaitconsulting::albaitconsulting"
             title="Alba It Consulting"
             module="Albaitconsulting_Core"
             sortOrder="10"
             resource="Albaitconsulting_Core::albaitconsulting"/>
    </menu>
</config>
